{{ partial "header" . }}
<header>
  <a class="home" href="/">Food Vibes</a>
</header>
<meta property="og:site_name" content="foodvib.es" />
<article class="recipe h-recipe" itemscope itemtype="http://schema.org/Recipe">
  <img itemprop="image" class="u-photo" src="/media/recipes/{{ index .Params.Categories 0 }}/{{ .Params.Slug }}.jpg" />

  <section class="recipe-card">
    <meta itemprop="url" content="{{ .Permalink }}" />
    <h1 class="p-name" itemprop="name">{{ .Title }} <a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/" data-pin-tall="true"></a></h1>
    {{ chomp .Content }}
  </section>
</article>

<footer>
  <menu class="sitemap">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="https://kuokoa.life/products/food-vibes">Book</a></li>
    <li><a href="https://github.com/foodvibes">Code</a></li>
  </menu>
  {{ partial "copyright" . }}
</footer>

<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>

{{ partial "footer" . }}
