header {
  background: $positive;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 8rem;

  a {
      display: block;
      width: 100%;
      min-height: 60%;
      margin: 20%;
      padding: 0;
      overflow: hidden;
      background: transparent url(/media/food-vibes-s-b.svg) no-repeat center center;
      background-size: contain;
      transition: background-color .5s ease;

      h1 {
        display: none;
      }
  }

  &.home {
    background: transparent;
    position: fixed;
    z-index: 10000;

    a {
      background-image: url(/media/food-vibes-s.svg);
      cursor: s-resize;
    }
  }
}
