header {
  background: $w;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;

  a {
      display: block;
      width: 100%;
      height: 60%;
      background: transparent url(/media/food-vibes-black.svg) no-repeat center center;
      background-size: contain;
      transition: background-color .5s ease;
      border: none;

      h1 {
        display: none;
      }
  }

  &.home {
    background: transparent;
    position: fixed;
    z-index: 10000;

    a {
      margin: 10%;
      background-image: url(/media/food-vibes-white.svg);
      cursor: s-resize;
    }
  }
}
