article.homepage {
  @include fixed-cover;

  padding-top: 100vh;

  & > section {
    background: $ow;

    &:nth-child(even) {
      background: rgba($negative, .85);
      color: $ow;

      h2 {
        color: $w;
      }

      a {
        color: $links;
      }
    }

    section {
      max-width: 46rem;
      padding: 4vh 2em;
      margin: 0 auto;

      h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        text-transform: uppercase;

        span {
          white-space: nowrap;
        }

        // &.booze-and-blade {
        //   background: url(/media/foods.svg) no-repeat center top;
        //   background-size: 4em;
        //   padding: 3em 0 0 0;
        // }

        // &.book {
        //   background: url(/media/book.svg) no-repeat center top;
        //   background-size: 4em;
        //   padding: 3em 0 0 0;
        // }

        &.fork {
          background: url(/media/fork.svg) no-repeat center top;
          background-size: 4em;
          padding: 3em 0 0 0;
        }
      }

      p {
        text-align: center;
        text-align-last: center;
      }
    }
  }
}
