article.homepage {
  @include fixed-cover;

  h1 {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 100vh 0 0 0;
    overflow: hidden;
    background: transparent url(/media/food-vibes-s.svg) no-repeat center center;
    background-size: 50vh;
  }

  & > section {
    background: $positive;

    &:nth-child(odd) {
      background: rgba($negative, .85);
      color: $ow;

      h2 {
        color: $w;
      }

      a {
        color: $links;
      }
    }

    section {
      max-width: 40em;
      padding: 4vh 2em;
      margin: 0 auto;

      h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        text-transform: uppercase;

        span {
          white-space: nowrap;
        }

        // &.booze-and-blade {
        //   background: url(/media/foods.svg) no-repeat center top;
        //   background-size: 4em;
        //   padding: 3em 0 0 0;
        // }

        // &.book {
        //   background: url(/media/book.svg) no-repeat center top;
        //   background-size: 4em;
        //   padding: 3em 0 0 0;
        // }

        &.fork {
          background: url(/media/fork.svg) no-repeat center top;
          background-size: 4em;
          padding: 3em 0 0 0;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}
