.initialized article.homepage {
  padding-top: 100vh;
}

article.homepage {
  background: transparent;
  text-align: center;

  .after {
    position: fixed; /* stretch a fixed position to the whole screen */
    top: -20%;
    height: 120%; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: url(/media/background.jpg) center center;
    background-size: cover;
    // opacity: .9;
  }

  & > section {
    background: $ow;

    h2 {
      color: rgba($b, .65);
    }

    &:nth-child(even) {
      background: rgba($b, .85);
      color: $ow;

      h2 {
        color: rgba($w, .65);
      }

      a {
        color: $ow;
        border-bottom-color: rgba($w, .25);

        &:hover {
          color: $w;
          border-bottom-color: $w;
        }

        &.button {
          color: 1;
          border-color: $w;

          &:before, &:after {
            color: rgba($w, .25);
          }

          &:hover {
            color: rgba($w, 1);

            &:before, &:after {
              color: rgba($w, .75);
            }
          }
        }
      }
    }

    section {
      max-width: 46rem;
      padding: 3rem 1rem;
      margin: 0 auto;
      font-size: large;
      font-weight: 300;

      h2 {
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;

        span {
          white-space: nowrap;
        }

        &.fork {
          background: url(/media/fork.svg) no-repeat center top;
          background-size: 12rem;
          padding: 6rem 0 0 0;
          height: 0;
          overflow: hidden;
        }
      }
    }
  }
}
