$w:             #FFFFFF;
$ow:            #F5F5F5;

$b:             #000000;
$ob:            #3d3d3d;

$links:         #128FB2;
$links-visited: #082E4C;
$links-active:  #17CFE5;

$error:         #ff6d6d;

$negative:      $b;
$negative-alt:  lighten($ob, 10%);

$positive:      $w;
$positive-alt:  darken($ow, 10%);

$gr: 1.6180339887498948482;

$pads: 3rem;
