@import "../../lib/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "typography";
@import "mixins";

html, body {
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  font-size: 14pt;
  line-height: 1.6;
  color: $negative-alt;
  background: black;
  min-width: 25vh;
  position: relative;
  z-index: -2;
}

a {
  color: $links;
  transition: color .5s ease;
  &:link {
    color: $links;
  }

  &:visited, &.visited {
    color: darken($links, 15%);
  }

  &:active, &:hover {
    color: $links-active !important;
  }

  &.button {
    font-family: "Lunchbox";
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-block;
    margin: 1rem auto;
    padding: .25rem 1.5rem;
    border-radius: 1rem;
    background: $links;
    color: $w !important;
    box-shadow: 0 .25rem 0 rgba(0,0,0,.1);
    transition: all .25s ease;
    top: 0;

    position: relative;
    &:hover {
      box-shadow: 0 0 0 rgba(0,0,0,.1);
      top: .25rem;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $negative;
  font-family: "LunchBox", Helvetica, Arial, sans-serif;
  text-transform: full-width;
  font-kerning: normal;
  font-weight: 500;
}

h2 {
  margin: 1em 0;
  padding: 0;
  font-size: 32pt;
  line-height: 32pt;
}

article {
  background: $w;
}

@import "header";
@import "footer";
@import "homepage";
@import "recipes";
@import "print";
