{{ partial "header" . }}

<article class="homepage">

  <h1>FOOD VIBES</h1>

  <section>
    <section>
      <h2 class="booze-and-blade"><span>Good Food</span> &amp; <span>Strong Drink</span></h2>
      <p><a href="http://foodvib.es">foodvib.es</a> is a refreshingly terse catalogue of simple, familiar recipes. Many were originally shared by someone only to be lost in time and translation; others found in literature only to be unapologetically butchered beyond recognition. It always begins with good intentions and genuine inspiration. What you will find here are the eventual, occasional, serendipitous discoveries born of poor memory, tidal laziness, limited resources and gastrally induced desperation paired with a palate tolerable of failure and relentless will to cook.</p>
      <p><a class="button" href="/recipes">MAKE THE RECIPES</a></p>
    </section>
  </section>
  <section>
    <section>
      <h2 class="book"><span>West Coast</span> + <span>Island Style</span> Cookbook</h2>
      <p>The <a href="https://kuokoa.life/products/food-vibes">book</a> is a beautiful physical manifestation of the <a href="/recipes">recipes</a> shared here. A mashup of fresh flavors and casual culinary style native to west coast and island lifestyles. Everything contained has been crafted between California and Hawaiʻi over the last decade. Each recipe inspired by spontaneous happenings, ritual gatherings, casual  dining, backyard barbecues, bonfires at the beach and campfires under the stars with friends, family and amicable strangers.</p>
      <p><a class="button" href="https://kuokoa.life/products/food-vibes">GET THE BOOK</a></p>
    </section>
  </section>
  <section>
    <section>
      <h2 class="fork">Fork This</h2>
      <p>The digital accoutrements created for this have been designed and developed in the open with the aim to enable other creators to learn from, utilize and even expand upon. In the tech world this is referred to as forking. All <a href="https://github.com/foodvibes/recipes">recipes</a> in their original plaintext form, the <a href="https://github.com/foodvibes/transcoder">transcoder</a> that encodes those recipes into a more sophisticated markup and the <a href="https://github.com/foodvibes/publisher">publisher</a> that consumes that markup and generates this website are all freely available.</p>
      <p><a class="button" href="https://github.com/foodvibes">HACK THE CODE</a></p>
    </section>
  </section>

</article>

<footer class="fixed-cover">
  <menu class="sitemap">
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="https://kuokoa.life/products/food-vibes">Book</a></li>
    <li><a href="https://github.com/foodvibes">Code</a></li>
  </menu>
  {{ partial "copyright" . }}
</footer>

{{ partial "footer" . }}
