{{ partial "header" . }}
<header>
  <a class="home" href="/">Food Vibes</a>
</header>

<article class="recipes">
  <h1>Recipes</h1>

  <section class="categories">


    <section class="meals">
      {{ range .Site.Params.meals }}
        {{ partial "categorical_recipe_list" (dict "context" $.Site.Taxonomies.categories "category" . ) }}
      {{ end }}
    </section>

    <section class="extras">
      {{ range .Site.Params.extras }}
        {{ partial "categorical_recipe_list" (dict "context" $.Site.Taxonomies.categories "category" . ) }}
      {{ end }}
    </section>

  </section>

</article>

<footer class="fixed-cover">
  <menu class="sitemap">
    <li><a href="/">Home</a></li>
    <li><a href="https://kuokoa.life/products/food-vibes">Book</a></li>
    <li><a href="https://github.com/foodvibes">Code</a></li>
  </menu>
  {{ partial "copyright" . }}
</footer>

{{ partial "footer" . }}
